# macOS
.DS_Store

# Node/React
node_modules/
dist/
build/
.cache/
.next/
out/

# Python/Django
venv/
.env
*.pyc
__pycache__/
.mypy_cache/
.coverage
htmlcov/
media/
staticfiles/

# Logs & IDE
*.log
.idea/
.vscode/
